# 보안 설정
JWT_SECRET=64-byte-secret-64-byte-secret-64-byte-secret
JWT_EXPIRES_SEC=86400
BCRYPT_SALT_ROUNDS=10

# applicaiton 출처
HOST_PORT=8080
HOST_ADDRESS=localhost

# 몽고 드라이버 url 또는 일반 접속 url
DB_HOST=

# 클라이언트
CLIENT_PORT=5173
CLIENT_ADDRESS=localhost